module passenger_local 1.0;

require {
 type httpd_t;
 type cert_t;
 type httpd_tmp_t;
 class file write;
 class dir write;
 class fifo_file { create getattr setattr unlink write };
}

#============= httpd_t ==============
allow httpd_t cert_t:file write;
allow httpd_t cert_t:dir write;
allow httpd_t httpd_tmp_t:fifo_file {create getattr setattr unlink };
